<div id="container">
  <hr class="top">
  <img src="../../../assets/images/kinflip_logo.png" alt="KinFlip Logo" id="main-logo">
  <div id="footer-flex">
    <div id="contact-us">
      <h3>Contact Us</h3>
      <p>Address: Obafemi Awolowo University, Ile-Ife</p>
      <p>phone: +23490 12345678</p>
      <p>Email: kinflipp@yahoo.com</p>
    </div>
    <div id="register">
      <h3>Register</h3>
      <p>As attendee</p>
      <p>As speaker</p>
    </div>
    <div id="information">
      <h3>Information</h3>
      <p>Sponsorship</p>
      <p>Donations</p>
      <p>Partnership</p>
    </div>
    <div id="subscribe">
      <h3>Subscribe to our newsletter</h3>
      <p>
        Subscribe to our newsletter to get updates
        about the upcoming conference
      </p>
      <div id="subscription-cta">
        <input type="email" placeholder="Email Address">
        <button>Subscribe</button>
      </div>
    </div>
  </div>

  <hr class="bottom">

  <div id="details-flex">
    <h3>Copyright 2022 | All Rights Reserved</h3>
    <div class="icons">
      <img src="../../../assets/icons/facebook_icon.png" alt="Facebook Icon">
      <img src="../../../assets/icons/twitter_icon.png" alt="Twitter Icon">
      <img src="../../../assets/icons/instagram_icon.png" alt="Instagram Icon">
      <img src="../../../assets/icons/linkedin_icon.png" alt="Linkedin Icon">
      <img src="../../../assets/icons/pinterest_icon.png" alt="Pinterest Icon">
    </div>
  </div>

  <div id="mobile-list">
    <ul style="list-style-type: none;">
      <li>OAU, Ile-Ife</li>
      <li>Tel: 09012345678</li>
      <li>kinflipp@yahoo.com</li>
      <li><h3>Register</h3></li>
      <li>As attendee</li>
      <li>As speaker</li>
      <li><h3>Information</h3></li>
      <li>Sponsorship</li>
      <li>Donation</li>
      <li>Partnership</li>
    </ul>
    <div class="icons">
      <img src="../../../assets/icons/facebook_icon.png" alt="Facebook Icon">
      <img src="../../../assets/icons/twitter_icon.png" alt="Twitter Icon">
      <img src="../../../assets/icons/instagram_icon.png" alt="Instagram Icon">
      <img src="../../../assets/icons/linkedin_icon.png" alt="Linkedin Icon">
      <img src="../../../assets/icons/pinterest_icon.png" alt="Pinterest Icon">
    </div>
  </div>

</div>
