@import '../../../theme/mixins';
@import '../../../theme/variables.scss';

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  @include flex(row);
  max-width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1em 6.25em;
}

#main-logo {
  object-fit: contain;
  width: 10.75em;
}

#navbar {
  @include flex(row, $justify: space-around);
  width: 1011px;

  p {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    user-select: none;
  }

  p:hover {
    color: $alt;
    cursor: pointer;
  }
}

#registrations {
  margin-left: auto;
  position: relative;
  display: inline-block;

  .register-button {
    width: 10em;
    @include button("flat", $alt, $padding: 0.4em 0.1em, $border-radius: 4px);
    @include flex(row, center, 1em);
    align-items: center;
  }

  #register-types {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  #register-types a {
    white-space: nowrap;
    color: #fff;
    // background-color: #2A2310;
    border: 1px solid $alt;
    padding: 0.5em;
    border-radius: 4px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
  }

  #register-types a:hover {background-color: rgb(63, 60, 60)}

}

// #registrations:hover #register-types {
//   display: block;
// }

#menu-button {
  @include debug;
  @include button("flat", transparent, $padding: 0, $border-radius: 4px);
  margin-left: 3em;
}

#menu-icon {
  width: 3rem;
  height: 3rem;
}

#menu-button, #menu-icon, #registrations {
  display: none;
}

#menu {
  position: absolute;
  position: fixed;
  padding: 1em;
  top: 0;
  left: 100%;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  transition: 0.3s;

  #cancel {
    float: right;
    background-color: transparent;
    border: none;

    img {
      width: 2.5em;
    }
  }

  .searchbar {
    margin-top: 4em;
    @include flex(row, center);

    input {
      width: 100%;
      border: 1px solid #fff;
      border-radius: 4px 0 0 4px;
      background-color: #56524B;
      padding-left: 1.5em;
      font-family: "Nunito", sans-serif;
      color: $alt;
    }

    input::placeholder {
      font-family: "Nunito", sans-serif;
      color: $alt;
      opacity: 0.5;
    }
  }

  #search {
    @extend #cancel;
    background-color: $alt;
    border: 1px solid #fff;
    border-radius: 0 4px 4px 0;
  }

  li {
    font-family: "Nunito", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 2em;
    margin-top: 0.8em;
  }

  .icons {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2em);
    text-align: center;
    margin: 0 auto 1em;
    @include flex(row, center, 0.5em);

    img {
      height: 2.5em;
      width: 2.5em;
    }
  }
}


//! MEDIA QUERIES

//? Tablets, Ipad, Portrait Mode
@media (min-width: 560px) and (max-width: 1024px){
  #navbar {
    display: none;
  }

  #menu-button, #menu-icon, #registrations {
    display: block;
  }
}

//? Media Query for Mobile Devices
@media (max-width: 560px) {
  .container {
    padding: 1em 1.5em;
    @include flex(row, $justify: space-between)
  }

  #navbar {
    display: none;
  }

  #menu-button, #menu-icon {
    display: block;
  }
}

.hide-types {
  display: block;
}


