<div class="container">
  <img src="../../../assets/images/kinflip_logo.png" alt="KinFlip Logo" id="main-logo">
  <div id="navbar">
    <p class="button">Home</p>
    <p>Contact Us</p>
    <p>About Us</p>
    <p>FAQ</p>
    <app-attendee-button></app-attendee-button>
    <app-speaker-button></app-speaker-button>
  </div>

  <select name="registrations" id="registrations">
    <option selected disabled hidden>Register</option>
    <option value="attendee">Register as attendee</option>
    <option value="speaker">Register as speaker</option>
  </select>

  <button id="menu-button">
    <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
      <path fill="none" stroke="#FFBC01" stroke-linecap="round" stroke-miterlimit="10" stroke-width="48" d="M88 152h336M88 256h336M88 360h336"/>
    </svg>
  </button>
</div>
