@import '../../../theme/mixins';
@import '../../../theme/variables.scss';

.container {
  @include flex(row);
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1em 6.25em;
}

#main-logo {
  object-fit: contain;
  width: 10.75em;
}

#navbar {
  @include flex(row, $justify: space-around);
  width: 1011px;

  p {
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
  }
}
