<div id="container">
  <div class="timer">
    <p color="alt" class="timer-text">FFI Conference</p>
    <div class="countdown">
      <div class="days">
        <div class="counter">
          <p><span>6</span> <span>0</span></p>
        </div>
        <caption>Days</caption>
      </div>
      <div class="hours">
        <div class="counter">
          <p><span>1</span> <span>0</span></p>
        </div>
        <caption>Hours</caption>
      </div>
      <div class="minutes">
        <div class="counter">
          <p><span>{{minutes < 10 ? 0 : minutes.toString()[0]}}</span> <span>{{minutes < 10  ? minutes.toString()[0] : minutes.toString()[1]}}</span></p>
        </div>
        <caption>Minutes</caption>
      </div>
    </div>
  </div>
</div>
