<div class="container">
  <section id="hero">
    <div class="hero-info">
      <div class="cta">
        <div class="cta-text">
          <p class="main-text">Future <span color="alt">Fashion</span></p>
          <p class="main-text">Industry <span color="alt">Conference</span></p>
          <p class="bottom-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi libero voluptatem ex sapiente laborum</p>
        </div>
        <div class="cta-buttons">
          <app-attendee-button></app-attendee-button>
          <app-speaker-button></app-speaker-button>
        </div>
        <button class="register-for-free">
          Register for free
        </button>
      </div>
      <app-timer></app-timer>
    </div>

    <div id="hero-image">
      <img src="assets/images/hero image.png" alt="Dark-skinned woman in native african attire">
    </div>
  </section>

  <section id="sponsors">
    <h2 class="title">Sponsors</h2>
    <div class="logos">
      <img src="assets/icons/versace-logo.png" alt="Versace logo">
      <img src="assets/icons/dior-logo.png" alt="Dior Logo">
      <img src="assets/icons/gucci-logo.png" alt="Gucci Logo">
      <img src="assets/icons/chanel-logo.png" alt="Chanel Logo">
    </div>
  </section>

  <section id="partners">
    <h2 class="title">Partners</h2>
    <div class="logos">
      <img src="assets/icons/versace-logo.png" alt="Versace logo">
      <img src="assets/icons/dior-logo.png" alt="Dior Logo">
      <img src="assets/icons/gucci-logo.png" alt="Gucci Logo">
      <img src="assets/icons/chanel-logo.png" alt="Chanel Logo">
    </div>
  </section>

  <section id="about">
    <h2 class="title">About the conference</h2>
    <p class="subtitle">Learn more about the conference</p>
    <p class="content">
      Flip Conference is an enlightening annual fashion conference in Nigeria that is created
      to debate and find answers to the common and major difficulties that the fashion industry
      is facing. The fashion world needs to understand the importance of technology in the future
      of fashion.
      <span class="more-content">
        The Flip conference is an avenue to educate the youths. Flip Conference is an
        enlightening annual fashion conference in Nigeria that is created to debate and find answers
        to the common and major difficulties that the fashion industry is facing. The fashion world
        needs to understand the importance of technology in the future of fashion.
      </span>
      <span color="alt">Read more...</span>
    </p>
  </section>

  <section id="stats">
    <div class="stat">
      <img src="assets/icons/number-5.png" alt="5 in a circle">
      <p>Speakers</p>
    </div>
    <div class="stat">
      <img src="assets/icons/number-500.png" alt="500 in a circle">
      <p>Attendees</p>
    </div>
    <div class="stat">
      <img src="assets/icons/number-10.png" alt="10 in a circle">
      <p>Courses</p>
    </div>
    <div class="stat">
      <img src="assets/icons/number-7.png" alt="7 in a circle">
      <p>Sessions</p>
    </div>
  </section>

  <section id="speakers">
    <h2 class="title">
      Speakers
    </h2>
    <p class="subtitle">We couldn't be more excited for our lineup</p>

    <div class="lineup">
      <div class="speaker">
        <img src="../../../assets/images/speaker.png" alt="Event Speaker">
        <p class="name">Tina Martha</p>
        <p class="info">Founder: Marthy Beauty Club</p>
      </div>
      <div class="speaker">
        <img src="../../../assets/images/speaker.png" alt="Event Speaker">
        <p class="name">Tina Martha</p>
        <p class="info">Founder: Marthy Beauty Club</p>
      </div>
      <div class="speaker">
        <img src="../../../assets/images/speaker.png" alt="Event Speaker">
        <p class="name">Tina Martha</p>
        <p class="info">Founder: Marthy Beauty Club</p>
      </div>
      <div class="speaker">
        <img src="../../../assets/images/speaker.png" alt="Event Speaker">
        <p class="name">Tina Martha</p>
        <p class="info">Founder: Marthy Beauty Club</p>
      </div>
      <div class="speaker">
        <img src="../../../assets/images/speaker.png" alt="Event Speaker">
        <p class="name">Tina Martha</p>
        <p class="info">Founder: Marthy Beauty Club</p>
      </div>
      <div class="speaker">
        <img src="../../../assets/images/speaker.png" alt="Event Speaker">
        <p class="name">Tina Martha</p>
        <p class="info">Founder: Marthy Beauty Club</p>
      </div>Get ready to register!
          Register for the upcoming big fashion conference coming.

          Share, learn, connect and stay updated.


    </div>
  </section>

  <section id="gallery">
    <h2 class="title">Gallery</h2>
    <p class="subtitle">Just for you... Get inspired</p>

    <div class="gallery-container">
      <div class="gallery-sub-container staggered">
        <img src="../../../assets/images/gallery-1.png" alt="">
        <img src="../../../assets/images/gallery-2.png" alt="">
      </div>
      <div class="gallery-sub-container">
        <img src="../../../assets/images/gallery-3.png" alt="">
        <img src="../../../assets/images/gallery-4.png" alt="">
      </div>
      <div class="gallery-sub-container">
        <img src="../../../assets/images/gallery-5.png" alt="">
        <img src="../../../assets/images/gallery-6.png" alt="">
      </div>
      <div class="gallery-sub-container staggered">
        <img src="../../../assets/images/gallery-7.png" alt="">
        <img src="../../../assets/images/gallery-8.png" alt="">
      </div>
    </div>
    <button id="see-more-images">
      See More
      <img src="../../../assets/icons/arrow-forward.svg" alt="Image" height="13px">
    </button>
  </section>

  <section id="nominees">
    <h2 class="title">Nominees</h2>
    <p class="subtitle">Check out our Award Nominees and Categories</p>
    <button id="vote-now">VOTE NOW</button>

    <div class="categories">
      <div class="category">
        <img src="../../../assets/images/category-placeholder.png" alt="Used paintbrushes">
        <p class="category-title">Artist of the year</p>
        <p class="category-description">The most spectacular art makers of the year</p>
      </div>
      <div class="category">
        <img src="../../../assets/images/category-placeholder.png" alt="Used paintbrushes">
        <p class="category-title">Musician of the year</p>
        <p class="category-description">The most spectacular art makers of the year</p>
      </div>
      <div class="category">
        <img src="../../../assets/images/category-placeholder.png" alt="Used paintbrushes">
        <p class="category-title">Entertainer of the year</p>
        <p class="category-description">The most spectacular art makers of the year</p>
      </div>
      <div class="category">
        <img src="../../../assets/images/category-placeholder.png" alt="Used paintbrushes">
        <p class="category-title">Dancer of the year</p>
        <p class="category-description">The most spectacular art makers of the year</p>
      </div>
    </div>
  </section>

  <section id="register">
    <h2 class="title">Get ready to register!</h2>
    <div class="onboarding">
      <p class="subtitle">Register for the upcoming big fashion conference coming.</p>
      <p class="subtitle">Share, learn, connect and stay updated.</p>
    </div>
    <div class="register-buttons">
      <app-attendee-button></app-attendee-button>
      <app-speaker-button></app-speaker-button>
    </div>
    <button class="register-for-free">
      Register for free
    </button>
  </section>

  <!-- <section id="faq">
    <h2 class="title">Frequently Asked Questions</h2>
    <p class="subtitle">Get answers to the frequently asked questions we've been able to gather</p>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(1)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-1" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(2)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-2" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(3)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-3" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(4)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-4" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(5)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-5" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
  </section> -->
  <app-faqs></app-faqs>
</div>
