<div id="container">
  <section id="faq">
    <h2 class="title">Frequently Asked Questions</h2>
    <p class="subtitle">Get answers to the frequently asked questions we've been able to gather</p>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(1)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-1" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(2)">
        What time does it begin?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-2" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>This conference begins at 10:30 A.M. prompt</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(5)">
        Will transportation be made available?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-5" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>Transportation will be provided at several locations around Ile-Ife. These locations will be communicated to you in due time </p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(3)">
        Will there be refreshments?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-3" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>Yes, refreshments will be served during the break between the panel sessions</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(4)">
        Who organized the conference?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-4" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The conference is brought to you by Kinflipp in collaboration with the OAU student community.</p>
      </div>
    </div>
  </section>
</div>
