<div id="container">
  <section id="faq">
    <h2 class="title">Frequently Asked Questions</h2>
    <p class="subtitle">Get answers to the frequently asked questions we've been able to gather</p>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(1)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-1" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(2)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-2" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(3)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-3" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(4)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-4" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
    <div class="accordion-container">
      <button class="accordion" (click)="rotateCaret(5)">
        Where is the location?
        <img src="../../../assets/icons/caret-forward.svg" id="dropdown-caret-5" alt="Dropdown caret" height="18px">
      </button>
      <div class="panel collapsed">
        <p>The location for this powerful conference is at Obafemi Awolowo University, Ile-Ife</p>
      </div>
    </div>
  </section>
</div>
