<div id="container">
  <app-timer></app-timer>
  <form action="" id="speaker-registration-form">
    <input type="text" placeholder="Name" [(ngModel)]="nameInput" name="nameInput">
    <input type="email" placeholder="Email Address" [(ngModel)]="emailInput" name="emailInput">
    <div class="cta">
      <button (click)="showSuccessPopUp()">Register</button>
      <p>Want to register as an attendee? <a href="">Click here</a></p>
    </div>
  </form>

  <div id="popup">
    <div id="display">
      <img src="../../../assets/icons/icon-park_success.png" alt="Success icon" id="success-icon">
      <p color="alt">
        Congratulations you have successfully signed up as a Speaker for the Kinflip Africa conference!
        Keep an Eye on your mail for updates
      </p>
      <button (click)="closePopup()">Back to home</button>
    </div>
  </div>
</div>
