<div id="container">
  <app-timer></app-timer>
  <form action="" id="speaker-registration-form" [formGroup]="attendeeForm">
    <div class="input-container">
      <input type="text" placeholder="Name" formControlName="name">
      <div *ngIf="attendeeForm.controls.name.invalid" class="error-text">
        Please enter name
      </div>
    </div>
    <div class="input-container">
      <input type="email" placeholder="Email Address" formControlName="email">
      <div *ngIf="attendeeForm.controls.email.invalid" class="error-text">
        Please enter a valid email
      </div>
    </div>
    <div class="cta">
      <button (click)="showSuccessPopUp()">Register</button>
      <p>Want to register as a speaker? <a href="">Click here</a></p>
    </div>
  </form>

  <div id="popup">
    <div id="display">
      <img src="../../../assets/icons/icon-park_success.png" alt="Success icon" id="success-icon">
      <p color="alt">
        Congratulations you have successfully signed for the Kinflip Africa conference!
      </p>
      <button (click)="closePopup()">Back to home</button>
    </div>
  </div>
</div>
