@import '../../../theme/mixins';
@import '../../../theme/variables.scss';

* {
  box-sizing: border-box
}
#container {
  position: relative;
}
#speaker-registration-form {
  @include flex(row, center, 2em, wrap);
  // @include debug;
  margin: 0 auto;
  width: 60%;

  input {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    flex: 0 1 40%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    height: 2.8em;
    margin-top: 3em;
    padding-left: 1em;
  }

  input::placeholder {
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    opacity: 0.7;
  }

  .cta {
    width: 100%;
    text-align: center;
    font-family: "Nunito", sans-serif;

    button {
      @include button("flat", $alt, #fff, 4px, 1em 2.3em);
      width: 50%;
    }

    button:hover {
      background-color: $alt-tint;
      color:#565656;
    }

    p {
      color: #ffffffbb;
    }
    a {
      color: $alt;
    }
  }

  margin-top: 2em;
}

@media (max-width: 480px) {
  #speaker-registration-form {
    width: 100%;
    padding: 0 2em;

    input {
      flex: 1 1;
      margin-top: 0.8em;
    }

    .cta {
      margin-top: -1.5em;

      button {
        width: 100%;
      }

      p {
        margin-top: 15em;
      }

    }
  }
}

#popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000ba;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;

  #display {
    @include flex(column, space-around);
    background-color: #261900;
    width: 60%;
    height: 50%;
    margin: 10% auto;
    align-items: center;
    padding-bottom: 2em;

    #success-icon {
      aspect-ratio: 1;
      width: 100px;
    }

    p {
      width: 50%;
    }

    button {
      @include button("flat", $alt, #fff, 4px, 1em 2.5em);
      width: 30%;
      margin: 0 au
    }
  }
}
